# -- Telegram --
TELEGRAM_BOT_TOKEN=<your_bot_token>
CHANNEL_USERNAME=<@your_channel>
CHANNEL_INVITE_LINK=<your_channel_invite_link>

# -- CoinMarketCap --
COINMARKETCAP_USER_API=<your_api_key>
COINMARKETCAP_URL_API=https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest