# -- Telegram --
TELEGRAM_BOT_TOKEN=8112890634:AAFNN4f1tZEWaWblE7yfBfPGXx09m_p8wDE
CHANNEL_USERNAME=rookie_storie

# -- CoinMarketCap --
COINMARKETCAP_USER_API=5c6c64eb-5065-4854-958c-51234358bee6
COINMARKETCAP_URL_API=https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest